Source: less-keeper
Section: Applications
Priority: optional
Maintainer: Eryx <evorui@gmail.com>
Version: x.y.z
Homepage: https://github.com/eryx/h5keeper
Package: less-keeper
Architecture: amd64
Depends: adduser
Description: Distributed coordination service


