Source: lesskeeper
Section: Applications
Priority: optional
Maintainer: Eryx <evorui@gmail.com>
Version: x.y.z
Homepage: https://github.com/eryx/lesskeeper
Package: lesskeeper
Architecture: amd64
Depends: adduser
Description: Distributed coordination service

